Created
!
<table border="1">
  <tbody>
    <tr>
      <td>Foo:</td><td><%= @mydata.foo %></td>
    </tr>
    <tr>
      <td>Bar:</td><td><%= @mydata.bar %></td>
    </tr>
    <tr>
      <td>Piyo:</td><td><%= @mydata.piyo %></td>
    </tr>
  </tbody>
</table>
