
<ui>
  <li><%= link_to 'rails log', '/show/rails' %></li>
  <li><%= link_to 'db log', '/show/db' %></li>
</ul>

See also <%= link_to 'http://www.proxygear.com/technic/2014/04/20/rails-engine-to-stram-live-logs.html', 'http://www.proxygear.com/technic/2014/04/20/rails-engine-to-stram-live-logs.html' %>
