
<div>
  <a href="show/rails">Rails のログファイル</a> と <a href="show/db">DB に登録したログ</a> を閲覧することができます。
</div>

<div style="height: 20px;"></div>

<div>
  See also <br>
  - [Rails: Engine to stream live logs] <%= link_to 'http://www.proxygear.com/technic/2014/04/20/rails-engine-to-stram-live-logs.html', 'http://www.proxygear.com/technic/2014/04/20/rails-engine-to-stram-live-logs.html' %>
</div>

<div style="height: 40px;"></div>

